// button
.el-button--primary {
  --el-button-disabled-border-color: var(--el-color-primary-light-9) !important;
  --el-button-active-border-color:var(--el-color-primary-light-9) !important;
  --el-button-active-bg-color: var(--el-color-primary-light-5) !important;

}

// table
.el-table {
  thead {
    // 表格
    --el-table-tr-bg-color: var(--el-table-row-hover-bg-color) !important;

    th.el-table__cell {
      background-color: var(--el-table-tr-bg-color);

      &.el-table-fixed-column--right{
        background-color: var(--el-table-tr-bg-color);
      }
    }
  }
}
