// 设置默认值
:root {
  --el-color-primary: #05d69d !important;
  --el-color-primary-light-3: #05d69db3 !important;
  --el-color-primary-light-5: #05d69d80 !important;
  --el-color-primary-light-7: #05d69d4d !important;
  --el-color-primary-light-8: #05d69d33 !important;
  --el-color-primary-light-9: #05d69d1a !important;

}
